<!-- <h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul> -->
<!--<div class="row">
    <div class="col-md-3 pull-left">
        <button class="btn btn-calm" ng-click="vm.loadToCallCandidates()">Get Candidate to verify</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-danger" ng-click="vm.search = vm.search?false:true">Search filters</button>
    </div>
</div>
<div class="row" ng-show="vm.search">
    <div class="col-md-12 ">
        <h2>Please put filters</h2>
        <form name="form" ng-submit="vm.searchWorker()" role="form">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <label style="margin-left:3em;" for="gender">Male</label>
                        <input style="margin-left:0.5em;" type="radio" name="gender" id="genderS"
                               ng-model="vm.userSearch.gender" value="male"/>
                        <label style="margin-left:2em;" for="genderf">Female</label>
                        <input style="margin-left:0.5em;" type="radio" name="gender" id="genderfS"
                               ng-model="vm.userSearch.gender" value="female"/>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="area">Area</label>
                        <input type="text" name="area" id="areaS" class="form-control" ng-model="vm.userSearch.area"/>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" name="dob" id="ageS" class="form-control" ng-model="vm.userSearch.age"/>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="profession">Profession</label>
                        <select name="profession" ng-model="vm.userSearch.profession">
                            <option value="{{ profession.id }}" ng-repeat="profession in vm.professions" >{{ profession.name | uppercase}}</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Search</button>
                <img ng-if="vm.dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

            </div>
        </form>
    </div>

</div>-->
<div class="row" style="background-color: #ffffff">

    <div CLASS="col-md-3 PULL-LEFT">
        <img src="http://api.file-dog.shatkonlabs.com/files/rahul/{{vm.inUser.society.logo_id}}" height="50"/>
    </div>
    <div CLASS="col-md-6">
        <span class="pull-right"><h5> Hello, {{ vm.inUser.name}}</h5></span>
        </div>
    <div CLASS="col-md-3 " style="align: right;">

        <button class="btn btn-small btn-primary ">Add New Worker</button>
        <span class="pull-right"><i class="icon glyphicon glyphicon-off"></i> </span>
    </div>

</div>
<div class="row">
   <!-- <div class="col-md-6 ">
        <h2>Register</h2>
        <form name="form" ng-submit="vm.registerWorker()" role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.fullName.$dirty && form.fullName.$error.required }">
                        <label for="fullName">Full name</label>
                        <input type="text" name="fullName" id="fullName" class="form-control" ng-model="vm.user.name"
                               required/>
                        <span ng-show="form.fullName.$dirty && form.fullName.$error.required" class="help-block">Full name is required</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
                        <label for="mobile">Mobile</label>
                        <input type="number" name="mobile" id="mobile" class="form-control" ng-model="vm.user.mobile"
                               minlength="10" maxlength="10" required/>
                        <span ng-show="form.mobile.$dirty && form.mobile.$error.required" class="help-block">Mobile is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.gender.$dirty && form.gender.$error.required }">
                <label for="gender">Gender</label>
                <label style="margin-left:3em;" for="gender">Male</label>
                <input style="margin-left:0.5em;" type="radio" name="gender" id="gender" ng-model="vm.user.gender"
                       value="male"/>
                <label style="margin-left:2em;" for="genderf">Female</label>
                <input style="margin-left:0.5em;" type="radio" name="gender" id="genderf" ng-model="vm.user.gender"
                       value="female"/>
                <span ng-show="form.dob.$dirty && form.dob.$error.required" class="help-block">Gender is required</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': form.area.$dirty && form.area.$error.required }">
                        <label for="area">Area</label>
                        <input type="text" name="area" id="area" class="form-control" ng-model="vm.user.area" required/>
                        <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">Area is required</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="native-place">Native Place</label>
                        <input type="text" name="native-place" id="native-place" class="form-control"
                               ng-model="vm.user.native_place"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" name="dob" id="dob" class="form-control" ng-model="vm.user.dob"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" name="dob" id="age" class="form-control" ng-model="vm.user.age"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" class="form-control" ng-model="vm.user.address" d/>
            </div>

            <div class="form-group">
                <label for="native-address">Native Address</label>
                <input type="text" name="native-address" id="native-address" class="form-control"
                       ng-model="vm.user.native_address"/>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group"
                         ng-class="{ 'has-error': form.service.$dirty && form.service.$error.required }">
                        <label for="profession">Profession</label>
                        <select name="profession" id="profession" class="form-control" ng-model="vm.user.profession_id" >
                            <option value="{{ profession.id }}" ng-repeat="profession in vm.professions" >{{ profession.name | uppercase}}</option>

                        </select>
                        <span ng-show="form.profession.$dirty && form.profession.$error.required" class="help-block">Profession is required</span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="remarks">Remark</label>
                        <input type="text" name="remarks" id="remarks" class="form-control" ng-model="vm.user.remarks"/>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
                    Register/Update
                </button>
                <img ng-if="vm.dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

            </div>
            <div class="form-actions">
                <button  ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Send SMS
                </button>
                <img ng-if="vm.dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

            </div>
        </form>
    </div>-->

    <div class="card " >

        <div class="item item-divider">
            Register worker
        </div>
        <div class="item item-text-wrap">

            <form ng-submit="addWorker()" name="addworker-f">
                <div class="list">

                    <label class="item item-input ">
                        <span class="input-label">Name</span>
                        <input type="text" name="name" placeholder="enter name" ng-model="data.name"
                               ng-minlength="3"
                               required/>
                    </label>

                    <label class="item item-input ">
                        <span class="input-label">Mobile</span>
                        <input type="number" name="mobile" placeholder="mobile" ng-model="data.mobile"
                               ng-minlength="10"
                               ng-maxlength="10" required/>
                    </label>


                    <label class="item item-input ">
                        <span class="input-label"> Gender </span>
                        <select class='selectpicker' name='gender' ng-model="data.gender">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Other'>Other</option>
                        </select>
                    </label>


                    <div class="list">

                        <div class="item ">
                            Worker Pic
                            <a class="button pull-right"  ng-click="takePicture('p');"><span
                                    class="icon ion-android-camera large calm"></span></a>
                            <a class="button pull-right" ng-click="selectPicture('p')"><span
                                    class="icon ion-images large calm"></span></a>
                        </div><div class="item ">
                        Voter Card

                        <a class="button pull-right" ng-click="takePicture('vc');"><span
                                class="icon ion-android-camera large calm"></span></a>
                        <a class="button pull-right" ng-click="selectPicture('vc')"><span
                                class="icon ion-images large calm"></span></a>
                    </div><div class="item ">
                        Adhar Card

                        <a class="button pull-right" ng-click="takePicture('ac');"><span
                                class="icon ion-android-camera large calm"></span></a>
                        <a class="button pull-right" ng-click="selectPicture('ac')"><span
                                class="icon ion-images large calm"></span></a>
                    </div><div class="item ">

                        Driving License

                        <a class="button pull-right" ng-click="takePicture('dl');"><span
                                class="icon ion-android-camera large calm"></span></a>
                        <a class="button pull-right" ng-click="selectPicture('dl')"><span
                                class="icon ion-images large calm"></span></a>
                    </div><div class="item ">

                        Pan Card

                        <a class="button pull-right" ng-click="takePicture('pc');"><span
                                class="icon ion-android-camera large calm"></span></a>
                        <a class="button pull-right" ng-click="selectPicture('pc')"><span
                                class="icon ion-images large calm"></span></a>


                    </div>
                    </div>
                    <div class="padding">

                        <p ng-show="addworker-f.mobile.$error.minlength || addworker-f.mobile.$error.maxlength">*
                            Mobile No.
                            show be of 10 digit.</p>

                    </div>

                    <input type="hidden" name="type" ng-model="data.type" ng-init="data.type ='worker'"/>

                    <input class="button button-block button-positive" type="submit" name="need now"
                           value="Register Him"
                           nav-direction="forward"
                           ng-disabled="addworker-f.$invalid ">

                </div>
            </form>

        </div>


    </div>

    <div class="col-md-12 pull-right">


        <table datatable="ng"  class="row-border hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Resident Name (Mobile)</th>

                <th>Resident Address</th>
                <th>Name (Mobile)</th>

                <th>Emergency no.</th>

                <th>Status</th>
                <th>Documents</th>
                <th>X</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="toCallCandidate in vm.toCallCandidates">

                <td>{{ toCallCandidate.id }}</td>
                <td>{{ toCallCandidate.lord_name }} ({{ toCallCandidate.lord_mobile }})</td>

                <td>{{ toCallCandidate.lord_address }}</td>
                <td>{{ toCallCandidate.name }} ({{ toCallCandidate.mobile }})</td>
                <td>{{ toCallCandidate.emergency_no }}</td>

                <td>{{ toCallCandidate.status }}</td>
                <td>
                    <a href="http://api.file-dog.shatkonlabs.com/files/rahul/{{ toCallCandidate.adhar_card }}" ng-show="toCallCandidate.adhar_card">AC</a>
                    <a href="http://api.file-dog.shatkonlabs.com/files/rahul/{{ toCallCandidate.voter_id }}" ng-show="toCallCandidate.voter_id">VC</a>
                    <a href="http://api.file-dog.shatkonlabs.com/files/rahul/{{ toCallCandidate.driving_license }}" ng-show="toCallCandidate.driving_license">DL</a>
                    <a href="http://api.file-dog.shatkonlabs.com/files/rahul/{{ toCallCandidate.pan_card }}" ng-show="toCallCandidate.pan_card">PC</a>

                </td>
                <td>X</td>
            </tr>

            </tbody>
        </table>

    </div>
</div>
<!--
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>-->
