
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">ExamHans | Learn and Earn</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

            <li><a href="#/employee/{{ vm.inUser.md5_id }}"><i class="fa fa-user fa-fw"></i> {{ vm.inUser.username}}</a>
            </li>
            <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings </a>
            </li>-->
            <li class="divider"></li>
            <li><a ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>



        </ul>



        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="#/member" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="#/exams" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>


                    <li>
                        <a ng-click="vm.logout()"><i class="glyphicon glyphicon-off fa-fw"></i> Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Exam Control Room</h1>
            </div>

        </div>
        <!-- /.row -->
        <br/>

        <!-- /.row -->
        <div class="multiDemo row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Exams</h3>
                            </div>
                            <div class="panel-body" >
                                <ul dnd-list >
                                    <li ng-repeat="exam in vm.exams"

                                    >
                                        <a ng-click="vm.loadSubject(exam.id)">{{exam.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Subjects</h3>
                            </div>
                            <div class="panel-body" >
                                <ul dnd-list >
                                    <li ng-repeat="subject in vm.subjects"

                                    >
                                        <a ng-click="vm.loadSubjectTopics(vm.loadedExamId, subject.id)">{{subject.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="list in models" class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">List {{list.listName}} ({{ list.items.length }})</h3>
                            </div>
                            <div class="panel-body" ng-include="'exams/list.temp.html'"></div>
                        </div>
                    </div>
                </div>

                <div view-source="multi"></div>

            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->